{% extends 'base.html' %}

{% block content %}
<div class="card shadow p-4 mt-4">
    <h2>Registered Projects</h2>

    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Title</th>
                <th>Domain</th>
                <th>Team Members</th>
                <th>Guide</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.title }}</td>
                <td>{{ project.domain }}</td>
                <td>{{ project.team_members }}</td>
                <td>{{ project.guide }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}